.hero {
    height: 100%;
    overflow: hidden;
    display: flex;
}

.hSection {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hTitle {
    margin-top: 50px;
    font-size: 100px;
    color: pink;
}

.hTitle span {
    color: #fff;
}

.hSection.right {
    align-items: end;
}

.hSection.right>.social {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    background-color: #2f204e;
    border-bottom-right-radius: 10px;
}

.social img {
    width: 20px;
    height: 20px;
}

.letsConnectContainer {
    width: 20px;
    height: 20px;
}

.letsConnectText {
    background-color: #dd4c62;
    font-size: 12px;
    rotate: 90deg;
    width: max-content;
    height: 100%;
    transform-origin: left top;
    transform: translateY(-20px);
    padding: 0 8px;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 10px;
}

.bubbleContainer {
    width: 50%;
    display: flex;
    gap: 8px;
    align-items: end;
    justify-content: space-between;
}

.bubble {
    width: 100%;
    height: 100px;
    background-color: #fff;
    color: #555;
    padding: 24px;
    font-size: 14px;
    border-radius: 20px 20px 0px 20px;
}

.bubbleContainer img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
    background-color: #dd4c62;
}

.contactLink {
    margin-bottom: 50px;
}

.contactButton {
    position: relative;
}

.circleText {
    letter-spacing: 3px;
    font-size: 20px;
}

.arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
}